<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>y42</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital@0;1&display=swap" rel="stylesheet" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
    <script>
      window.jQuery || document.write('<script src="js/jquery-3.6.0.min.js" defer><\/script>');
    </script>
  </head>
  <body>
    <header id="header">
      <div class="container">
        <div class="logo">
          <a href="#"><img src="images/logo.svg" width="101" height="36" alt="y42" /></a>
        </div>
        <div class="nav-wrap">
          <button type="button" class="mobile-menu-opener"><span>Close Menu</span></button>
          <ul class="nav-main">
            <li><a href="#">Platform</a></li>
            <li><a href="#">Solution</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
        </div>
        <div class="acc-wrap">
          <button type="button" class="mobile-acc-opener"><i class="icon icon-user"></i></button>
          <ul class="btn-list">
            <li><a href="#" class="btn btn-link">Log in</a></li>
            <li><a href="#" class="btn btn-primary">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main id="main">
      <section class="hero-section">
        <div class="container">
          <div class="text-content">
            <h1>Choose the plan that fit your needs!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, dolores antiopam argumentum ea pro, eu iuvaret legendos sententiae ius, pri dicit oporteat efficiendi an.</p>
          </div>
          <div class="row">
            <div class="card card-orange">
              <div class="card-body">
                <div class="card-header">
                  <h2>Developer</h2>
                  <div class="card-price">starting at<span class="price-value">49</span><span>per month</span></div>
                  <a href="#" class="btn btn-warning">Get Plan</a>
                </div>
                <ul class="icon-list">
                  <li>Automatic Product Tours</li>
                  <li>GDPR (Highest Level Data Security)</li>
                  <li>Developer support</li>
                  <li>Unlimited Datasources up to 1GB</li>
                </ul>
                <a href="#" class="btn btn-link">See All</a>
              </div>
            </div>
            <div class="card card-pink card-center">
              <div class="card-body">
                <div class="card-header">
                  <h2>Business</h2>
                  <div class="card-price">starting at<span class="price-value">879</span><span>per month</span></div>
                  <a href="#" class="btn btn-danger">Get Plan</a>
                </div>
                <ul class="icon-list">
                  <li>Automatic Product Tours</li>
                  <li>GDPR (Highest Level Data Security)</li>
                  <li>Business support</li>
                  <li>Unlimited Datasources up to 1GB</li>
                </ul>
                <a href="#" class="btn btn-link">See All</a>
              </div>
            </div>
            <div class="card card-purple">
              <div class="card-body">
                <div class="card-header">
                  <h2>Enterprise</h2>
                  <div class="card-price">For Data Driven Companies<span class="price-value price-value-request">On Request</span></div>
                  <a href="#" class="btn btn-secondary">Get Plan</a>
                </div>
                <ul class="icon-list">
                  <li>Automatic Product Tours</li>
                  <li>GDPR (Highest Level Data Security)</li>
                  <li>Enterprise support</li>
                  <li>Unlimited Datasources up to 1GB</li>
                </ul>
                <a href="#" class="btn btn-link">See All</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="banner-section">
        <div class="container">
          <div class="banner-wrap">
            <div class="text-content">
              <h3>Grow your early stage startup</h3>
              <p class="lead">Startups that are less then 2 years old with up to $5M in total funding receive $50,000 in credits towards the Datos growth plan.</p>
            </div>
            <a href="#" class="btn btn-primary">Contact Us</a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
